button {
  width: 400px;
  background-color: black;
  color: white;
  margin-bottom: 16px;
  font-size: 32px;
  padding: 16px;
}

table {
  border-collapse: collapse;
}

td {
  height: 120px;
  width: 120px;
  text-align: center;
  font-size: 48px;
}

.empty-cell {
  cursor: pointer;
}

.empty-cell:hover {
  background-color: #eee;
}

.vertical-lines {
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.horizontal-lines {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}